.accordion {
    width: 100%;
}

.accordion-item {
    background-color: #fff;
    margin-bottom: 10px;
    padding: 10px;
    border: 2px solid #000;
}

.accordion-button {
    display: flex;
    background-color: transparent !important;
    border: none !important;
    box-shadow: none !important;
    width: 100%;
    font-weight: 900 !important;
    font-size: 1.2rem;

}

.accordion-button:focus,
.accordion-button-active {
    outline: none !important;
    box-shadow: none !important;
    border-color: transparent !important;
}

.accordion-header {
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.accordion-content {
    display: none;
    padding: 10px;
}

.accordion-body {
    font-style: italic;
}

.icon {
    font-size: 20px;
    margin-left: auto;
    transform: rotate(0deg);
    transition: all 0.3s ease;
    color: gold;
}

button[aria-expanded="true"] .icon {
    transform: rotate(90deg);
}


