.accordion {
    width: 100%;
}

.accordion-item {
    background-color: #fff;
    margin-bottom: 10px;
    padding: 10px;
    border: 2px solid #000;
}

.accordion-button {
    background-color: transparent !important;
    border: none !important;
    box-shadow: none !important;
}

.accordion-header {
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.accordion-content {
    display: none;
    padding: 10px;
}

.icon {
    font-size: 20px;
    margin-left: auto;
    transform: rotate(90deg);
    transition: all 0.3s ease;
}

.open .icon {
    transform: rotate(0);
}
