{% extends "base.html" %} 
{% load static %} 

{% block page_header %} 
    <div class="header-container container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %} 

{% block content %} 

<!--About Jewelry Palace-->


<div class="overlay"></div>
<div class="container-fluid about-container">
    <div class="row" style="margin-bottom: 80px;">
        <div class="col text-center mt-5 mb-5">
            <br>
            <br>
            <br>
            <br>
            <p>Founded In October 2024,<strong>Jewelry</strong>Palace is an online jewellery brand based in the United Kingdom</p>
            <p><strong>Jewelry Palace</strong> sell products exclusively on the internet</p>
            <p>We source our jewelleries from South Asia & the middle East</p>
            <p>From our minimalistic pieces to our bold statement pieces, every item in our collection is carefully selected.
               We work closely with suppliers to make ensure each pieces reflects our commitment to authencity, qualit and
               sustainability.
            </p>
            <p>Whether it's a milestone being celebrated, gifting someone special, or perhaps treating yourself, we're here to
               help you find the perfect piece - one that tells your story
            </p>
            <p>Begin your journey with us, where every piece becomes part of your legacy</p>
        </div>
    </div>
</div>

{% endblock %}